<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tchatos Machine</title>
</head>
<body>
    <div>
        <h1>Tchatos de déglingos</h1>
    </div>
    <div>
        <div class="ici les messages">

        </div>
        <div class="zone d'écriture">
            <form method="post" action="/message">
                <input name="text" placeholder="Ecrire ici">
                <input type="submit" placeholder="submit">
            </form>
        </div>
    </div>
</body>
</html>