<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ h1 }} </h1>
    <div class="create-user-div">
        <h2>{{ formCreate }}</h2>
        <form id="form_create_user">
            <input name="email" type="text" placeholder="email" id="email" required>
            <input name="pseudo" type="text" placeholder="pseudo" id="pseudo" required>
            <input name="password" type="password" placeholder="Mot de passe" id="password" required>
            <button type="submit">Générer</button>
        </form>
    </div>
    <div class="create-room-div">
        <h2>{{ formCreateRoom }}</h2>
        <form id="form_create_room">
            <input name="name" type="text" placeholder="Nom de la room" id="name_room" required>
            <label>par defaut ?</label>
            <input id="defaut_check" name="defaut" type="checkbox" >
            <button type="submit">Créer</button>
        </form>
        <ul>
            <div class="room-wrapper">
                    {% for itemRoom in rooms %}
                <li>
                    <h2>{{ nameRoom }}</h2>
                    {{ itemRoom.name }}
                    <h3>{{ defautRoom }}</h3>
                    {{ itemRoom.defaut }}
                    <h3>{{ idRoom }}</h3>
                    {{ itemRoom. _id }}
                    <form id="form_delete_room">
                        <input id="input_id_room" type="hidden" value="{{ itemRoom. _id }}">
                       
                        <input type="submit" placeholder="submit" value="Supprimer">
                    </form>
                </li>
                {% else %}
                <li>Aucune room à afficher</li>
                {% endfor %}   
                <script>
                    window.addEventListener("load", () => {
                        const form = document.querySelector("#form_delete_room");
                        if(form != null){
                            form.addEventListener("submit", async event => {
                            event.preventDefault();
                            const data = {
                                id: document.querySelector('#input_id_room').value
                            }
                            console.log('query selector :',data)
    
                            axios({
                                method: "delete",
                                url: "/room",
                                data: data
                            })
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((err) => {
                                throw err;
                            });
                        });
                        }        
                    });
                </script>
            </div>
        </ul>
    </div>
        <div class="user-wrapper">
            {% for item in users %}
            <li>
                <h2>{{ pseudo }}</h2>
                {{ item.pseudo }}
                <h2>{{ email }}</h2>
                {{ item.email }}
                <h3>{{ password }}</h3>
                {{ item.password }}
                <h3>{{ id }}</h3>
                {{ item. _id }}
                <form id="form_delete_user">
                    <input id="input_id_user" type="hidden" value="{{ item. _id }}">
                    <input type="submit" placeholder="submit" value="Supprimer">
                </form>
            </li>
            {% else %}
            <li>Aucun utilisateur à afficher</li>
            {% endfor %}  
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            window.addEventListener("load", () => {
                const formRoom = document.querySelector("#form_create_room");
                formRoom.addEventListener("submit", async event => {
                    event.preventDefault();
                    const name = document.querySelector('#name_room').value;   
                    const defaut = (document.querySelector('#defaut_check:checked') !== null ? true : false);   

                    data = {name: name, defaut: defaut}
                    console.log(data)
                    axios({
                        method: "post",
                        url: "/room",
                        data: data
                    })
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((err) => {
                        throw err;
                    });
                });
            });
        </script>
    </div>
        <script>
            window.addEventListener("load", () => {
                const form = document.querySelector("#form_create_user");
                form.addEventListener("submit", async event => {
                    event.preventDefault();
                    const email = document.querySelector('#email').value;
                    const pseudo = document.querySelector('#pseudo').value;
                    const password = document.querySelector('#password').value;
                    data = {email: email, pseudo: pseudo, password: password}
                    console.log(data)
                    axios({
                        method: "post",
                        url: "/user",
                        data: data
                    })
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((err) => {
                        throw err;
                    });
                });
            });
        </script>
        <script>
            window.addEventListener("load", () => {
                const form = document.querySelector("#form_delete_user");
                if(form != null){
                    form.addEventListener("submit", async event => {
                    event.preventDefault();
                    const data = {
                        id: document.querySelector('#input_id_user').value
                    }
                    console.log('query selector :',data)

                    axios({
                        method: "delete",
                        url: "/user",
                        data: data
                    })
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((err) => {
                        throw err;
                    });
                });
                }        
            });
        </script>
    
</body>
</html>