<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ h1 }} </h1>
    <div class="create-user-div">
        <h2>{{ formCreate }}</h2>
        <form method="post" action="/createUser">
            <input name="pseudo" type="text" placeholder="pseudo">
            <input name="email" type="email" placeholder="email">
            <input type="submit" placeholder="submit">
        </form>
    </div>
    <ul>
        <div class="user-wrapper">
            
            {% for item in users %}
            <li>
                <h2>{{ pseudo }}</h2>
                {{ item.pseudo }}
                <h3>{{ id }}</h3>
                {{ item. _id }}
                <form method="post" action="/deleteUser">
                    <input name="id" type="hidden" value="{{ item. _id }}">
                    <input type="submit" placeholder="submit" value="Supprimer">
                </form>
            </li>
            {% else %}
            <li>Aucun utilisateur à afficher</li>
            {% endfor %}
            
        </div>
    </ul>
</body>
</html>