<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>{{ title_text }}</title> 
</head> 
<body> 
    <h1>{{ title }}</h1> 
    <form>
        <p> 
            <label for="email">Email : </label>
            <input  name="email" type="email" placeholder="email" id="email" required/>
        </p> 
        <p> 
            <label for="password">Password : </label> 
            <input  name="password" type="password" placeholder="Password" id="password" required/>
        </p> 
        <input type="submit" value="submit" /> 
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        window.addEventListener("load", () => {
            const form = document.querySelector("form");
            form.addEventListener("submit", (e) => {
                e.preventDefault();
                let data = new FormData(form);
                axios({
                    method: "post",
                    url: "/signIn",
                    data: data,
                })
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((err) => {
                        throw err;
                    });
            });
        });
    </script>
</body> 
</html>